<!-- /templates/page.liquid -->
<header class="section-header text-center esim-header --accessories-hero" style="background-color:#f6f6f6;">
  <div class="grid --collection" bis_skin_checked="1">
    <div class="grid__item page-hero collection--page">
      <div class="rte page-hero-inner">
        <h1 class="header-destination"><strong>Buy Your Accessories and Necessities for Travel</strong></h1>
        <p>Enhance your travel experience with essential accessories from SimCorner. Stay connected hassle-free on your journeys and avoid exorbitant charges. 
        Explore our selection of travel accessories, perfect for Australian tourists seeking convenience and connectivity.</p>
        <div class="collection--accross">
          <p class="review--text">Over 12,000+
            <svg width="88" height="18" viewBox="0 0 88 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00247 13.5L3.71095 16.2812L4.72154 10.3906L0.440612 6.21885L6.35671 5.35942L9.00247 0L11.6482 5.35942L17.5643 6.21885L13.2834 10.3906L14.294 16.2812L9.00247 13.5Z" fill="#ff7a00" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M26.0025 13.5L20.711 16.2812L21.7215 10.3906L17.4406 6.21885L23.3567 5.35942L26.0025 0L28.6482 5.35942L34.5643 6.21885L30.2834 10.3906L31.294 16.2812L26.0025 13.5Z" fill="#ff7a00" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M43.0025 13.5L37.711 16.2812L38.7215 10.3906L34.4406 6.21885L40.3567 5.35942L43.0025 0L45.6482 5.35942L51.5643 6.21885L47.2834 10.3906L48.294 16.2812L43.0025 13.5Z" fill="#ff7a00" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M61.0025 13.5L55.711 16.2812L56.7215 10.3906L52.4406 6.21885L58.3567 5.35942L61.0025 0L63.6482 5.35942L69.5643 6.21885L65.2834 10.3906L66.294 16.2812L61.0025 13.5Z" fill="#ff7a00" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M78.8323 13.5L73.5408 16.2812L74.5514 10.3906L70.2704 6.21885L76.1865 5.35942L78.8323 0L81.4781 5.35942L87.3942 6.21885L83.1132 10.3906L84.1238 16.2812L78.8323 13.5Z" fill="#ff7a00" />
            </svg>
            Reviews across
          </p>
          <div class="slider_rating_logos" bis_skin_checked="1">
            <div class="slider_logo_main" bis_skin_checked="1"><img alt="google-logo" class="lazyload hs-lazyload hs-id-33af80bb" data-src="{{ 'google-logo.svg' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></div>
            <div class="slider_logo_main" style=" margin-top: -10px;" bis_skin_checked="1"><img alt="facebook-logo" class="lazyload hs-lazyload hs-id-b1cfbc7e" data-src="{{ 'facebook-logo.svg' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></div>
            <div class="slider_logo_main" bis_skin_checked="1"><img alt="stamped-logo" class="lazyload hs-lazyload hs-id-54d80fab" data-src="{{ 'stamped-logo.svg' | asset_url }}" src=""/></div>
          </div>
        </div>
            <div class="custom-carousel" id="stamped-reviews-widget" data-widget-type="carousel" data-auto-play="true" data-auto-play-speed="3" data-limit-words="15" data-min-rating="4" data-fill-empty="true" data-random="true"></div>

      </div>
      <div class="page-hero-inner-image" style="background-image: url({{ 'accessories-image.webp' | asset_url }}); height: 500px; border-radius: 10px; background-position: center;">
      </div>
    </div>
  </div>
</header>
  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <div class="grid-uniform continent_sim_cards">
      <div class="innerpage_heading accessories--heading">
        <h2>Accessories</h2>
      </div>
      <div class="carousel_main">
        <div class="carousel" id="carousel_one">
          {% for product in collections.travel-accessories-and-necessities.products %}
          {% include 'product-grid-item' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <div class="grid-uniform continent_sim_cards">
      <div class="innerpage_heading">
        <h2>Travel Journals</h2>
      </div>
      <div class="carousel_main">
        <div class="carousel" id="carousel_one">
          {% for product in collections.travel-journals.products %}
          {% include 'product-grid-item' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <div class="grid-uniform continent_sim_cards">
      <div class="innerpage_heading">
        <h2>Packing Cubes</h2>
      </div>
      <div class="carousel_main">
        <div class="carousel" id="carousel_one">
          {% for product in collections.packing-cubes.products %}
          {% include 'product-grid-item' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <div class="grid-uniform continent_sim_cards">
      <div class="innerpage_heading">
        <h2>Laundry Bags</h2>
      </div>
      <div class="carousel_main">
        <div class="carousel" id="carousel_one">
          {% for product in collections.laundry-bags.products %}
          {% include 'product-grid-item' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>