<!-- /templates/page.liquid -->
<div class="grid reviews_page">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>Customer Reviews</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
<div id="stamped-reviews-widget" data-widget-type="full-page" data-product-image="true"></div>
        </div>
      </div>
    </div>

  </div>
</div>
